.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.breadcrumbList {
  cursor: pointer;
  color: rgb(25, 0, 255);
  margin-top: 20px;
  width: 980px;
}

.searchInput {
  padding-top: 30px;
}

.searchButton {
  cursor: pointer;
}

.resetButton {
  cursor: pointer;
  margin-left: 10px;
}

.thumbnailImage {
  width: 320px;
  height: 180px;
  margin-bottom: 20px;
  border-radius: 12px;
  box-shadow: 4px 5px 12px black;
  transition: all 0.3s;
  cursor: pointer;
}

.thumbnailImage:hover {
  transform: translate(4px, 5px);
  box-shadow: none;
}

.grid {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 40px;
  gap: 50px;
}

.blogInfo {
  width: 400px;
  text-align: left;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 10px;
  gap: 5px;
  list-style-type: none;
  padding-left: 0;
}

.pagination > li {
  border-radius: 100px;
  width: 30px;
  background-color: gray;
}

.pagination > li > a {
  color: black;
  display: block;
}

.active > a {
  color: white !important;
}

.categoryArea {
  width: 220px;
}

.archiveArea {
  width: 120px;
}

.archive {
  cursor: pointer;
}

.archive:hover {
  text-decoration: underline;
}
